.layout {
  display: block;
}

.row {
  display: flex !important;
  position: relative !important;
  box-sizing: border-box;
  &:not(:first-of-type) {
    margin-top: -1px;
  }
}

.col {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  &:not(:first-of-type) {
    margin-left: -1px;
  }
}

.resizable {
  position: relative;
  border-right: 1px solid rgba(221, 221, 221, 0.8);
}

.resizer {
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 2;
  cursor: col-resize;
  pointer-events: auto !important;
  &:hover {
    border-radius: 20px;
    background-color: rgba(221, 221, 221, 0.8);
  }
}
